<div class="modal-header">
    <h3 class="modal-title">New Mission!</h3>
</div>
<div class="modal-body">
	<fieldset class="form-group">
		<label for="title">Title</label>
		<input id="title" type="text" ng-model="crudCtrl.newMission.title" class="form-control">
	</fieldset>

	<fieldset class="form-group">
		<label for="info">Info</label>
		<textarea id="info" ng-model="crudCtrl.newMission.info" class="form-control"></textarea>
	</fieldset>

	<fieldset class="form-group">
		<label for="story">Story</label>
		<select id="story" ng-options="story.title for story in crudCtrl.stories track by story._id" ng-model="crudCtrl.newMission.story" class="form-control">
			<option value="">-- select --</option>
		</select>
	</fieldset>

	<fieldset class="form-group">
		<label for="status">Status</label>
		<select id="status" ng-options="status for status in crudCtrl.missionStatuses" ng-model="crudCtrl.newMission.status" ng-change="crudCtrl.refreshMissions()" class="form-control"></select>
	</fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="crudCtrl.createMission()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>