<div class="container">
	<h1>Missions</h1>
	<h2>{{ctrl.message}}</h2>
	  
	<div class="row">
	  	<table class="table table-striped">
		    <thead>
		      <th>Title</th>
		      <th>Info</th>
		      <th>Actions</th>
		    </thead>
		    <tbody ng-repeat="mission in ctrl.missions">
		      	<tr>
			        <td ng-hide="mission.edit">{{mission.title}}</td>
			        <td ng-show="mission.edit"><input type="text" ng-model="mission.title"></td>

			        <td ng-hide="mission.edit">{{mission.info}}</td>
			        <td ng-show="mission.edit"><input type="text" ng-model="mission.info"></td>

			        <td ng-hide="mission.edit">
			        	<button class="btn btn-default" ng-click="ctrl.showMission($index)">Info</button>
			          	<button class="btn btn-success" ng-click="ctrl.toggleEdit($index)">Edit</button>
			          	<button class="btn btn-danger" ng-click="ctrl.deleteMission($index)">Delete</button>
			        </td>
			        <td ng-show="mission.edit">
			        	<button class="btn btn-default" ng-click="ctrl.showMission($index)">Info</button>
			          	<button class="btn btn-primary" ng-click="ctrl.updateMission($index)">Save</button>
			          	<button class="btn btn-danger" ng-click="ctrl.toggleEdit($index)">Cancel</button>
			        </td>
		      	</tr>
		      	<tr class="collapse" data-id="{{ mission._id }}">
		    		<td colspan="8">
		    			<div ng-repeat="quest in mission.quests">
		    				<h4>Quest: {{ quest.title }}</h4>
		    				<p>{{ quest.info }}</p>
		    				Complete: <input type="checkbox" ng-model="quest.complete" disabled>
		    			</div>
		    		</td>
		    	</tr>
			</tbody>
			<tbody>
		      	<tr>
				    <td><input type="text" ng-model="ctrl.newMission.title"></td>
				    <td><input type="text" ng-model="ctrl.newMission.info"></td>
				    <td>
				        <button class="btn btn-primary" ng-click="ctrl.createMission()">Add New</button>
				    </td>
			    </tr>
		    </tbody>
		</table>
	</div>
</div>
