<div id="missions-page">
	<div class="container">
		<h1>Missions</h1>

		<div class="row">
			<div class="col-sm-4">
				<div id="questbookLeft">
					<div class="navigation-panel">
						<div class="row">
							<missions-navigation></missions-navigation>
						</div>
						<div class="row">
							<button type="button" class="btn btn-default" ng-click="ctrl.openCrudModal('newMission')">New Mission</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div id="questbookRight">
					{{ ctrl.currentObject.type }}
					<div>
						<h3>{{ ctrl.currentObject.title }}</h3> 
						<p>{{ ctrl.currentObject.info }}</p>

						<button ng-show="ctrl.currentObject.type === 'MISSION'" class="btn btn-primary" ng-click="ctrl.openCrudModal('newQuest')">Add Quest</button>
						<button ng-show="ctrl.currentObject.type === 'QUEST'" class="btn btn-success" ng-click="ctrl.openCrudModal('editQuest')">Edit Quest</button>
						<button ng-show="ctrl.currentObject.type === 'MISSION'" class="btn btn-success" ng-click="ctrl.openCrudModal('editMission')">Edit Mission</button>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
