<div class="modal-header">
    <h3 class="modal-title">New Quest!</h3>
</div>
<div class="modal-body">
	<fieldset class="form-group">
		<label for="title">Title</label>
		<input id="title" type="text" ng-model="crudCtrl.newQuest.title" class="form-control">
	</fieldset>

	<fieldset class="form-group">
		<label for="info">Info</label>
		<textarea id="info" ng-model="crudCtrl.newQuest.info" class="form-control"></textarea>
	</fieldset>

	<fieldset class="form-group">
		<label for="story">Story</label>
		<select id="story" ng-options="story.title for story in crudCtrl.stories track by story._id" ng-model="crudCtrl.newQuest.story" ng-change="crudCtrl.refreshMissions()" class="form-control"></select>
	</fieldset>

	<fieldset class="form-group">
		<label for="mission">Mission</label>
		<select id="mission" ng-options="mission.title for mission in crudCtrl.missions track by mission._id" ng-model="crudCtrl.newQuest.mission" class="form-control"></select>
	</fieldset>

	<fieldset class="form-group">
		<label for="type">Type</label>
		<select id="type" ng-options="type for type in crudCtrl.questTypes" ng-model="crudCtrl.newQuest.type" class="form-control"></select>
	</fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="crudCtrl.createQuest()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>