$gray-color: #a9a5a4;
$light-gray-color: #efefef;
$bright-gray-color: #f9f9f9;


$white-color: #ffffff;
$black-color: #000000;
$light-black-color: #333333;

$dead-yellow-color: #deda82;
$strong-yellow-color: #fcfc12;

$dead-orange-color: #e59441;

$daily-green-color: #b2ffb2;
$strong-green-color: #66ff66;

$important-blue-color: #a3d1ff;
$strong-blue-color: #57abff;

$urgent-red-color: #ff7575;
$strong-red-color: #ff2929;

/*$gray-blue-color: #7d8c9e;
$strong-blue-color: #1c6a89;
$moderate-blue-color: #44afd8;
$aqua-blue-color: #00d5d6;
$bright-blue-color: #c2e5f2;
$light-blue-color: #d7eef7;
$dark-blue-color: #354050;
$darker-blue-color: #2e3848;
$static-blue-color: #1e5777;

$silver-gray-color: #d6d6d6;
$bright-gray-color: #f9f9f9;
$light-gray-color: #efefef;

$light-red-color: #ffb4b4;*/