<div class="container">
	<h1>Quests</h1>
	<h2>{{ctrl.message}}</h2>
	  
	<div class="row">
	  	<table class="table table-striped">
		    <thead>
		      <th>Title</th>
		      <th>Info</th>
		      <th>Complete</th>
		      <th>Actions</th>
		    </thead>
		    <tbody>
		      	<tr ng-repeat="quest in ctrl.quests">
			        <td ng-hide="quest.edit">{{quest.title}}</td>
			        <td ng-show="quest.edit"><input type="text" ng-model="quest.title"></td>

			        <td ng-hide="quest.edit">{{quest.info}}</td>
			        <td ng-show="quest.edit"><input type="text" ng-model="quest.info"></td>

			        <td ng-hide="quest.edit"><input type="checkbox" ng-model="quest.complete" disabled></td>
			        <td ng-show="quest.edit"><input type="checkbox" ng-model="quest.complete"></td>

			        <td ng-hide="quest.edit">
			          <button class="btn btn-success" ng-click="ctrl.toggleEdit($index)">Edit</button>
			          <button class="btn btn-danger" ng-click="ctrl.deleteQuest($index)">Delete</button>
			        </td>
			        <td ng-show="quest.edit">
			          <button class="btn btn-primary" ng-click="ctrl.updateQuest($index)">Save</button>
			          <button class="btn btn-danger" ng-click="ctrl.toggleEdit($index)">Cancel</button>
			        </td>
		      	</tr>
		      	<tr>
				    <td><input type="text" ng-model="ctrl.newQuest.title"></td>
				    <td><input type="text" ng-model="ctrl.newQuest.info"></td>
				    <td>
				        <button class="btn btn-primary" ng-click="ctrl.createQuest()">Add New</button>
				    </td>
			    </tr>
		    </tbody>
		</table>
	</div>
</div>
